body {
    font-family: 'Kanit', serif;
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    background-color: #f9f9f9;
}

.order-status-container {
    padding-top: 80px;
    padding-bottom: 20px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.order-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.order-number {
    font-size: 14px;
    margin-bottom: 20px;
    color: #555;
}

.timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    position: relative;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #ddd;
    transform: translateY(-50%);
    z-index: 1;
}

.timeline-step {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.timeline-step .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f4b000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
}

.timeline-step.active .circle {
    background-color: #fff;
    border: 2px solid #f4b000;
    color: #f4b000;
}

.timeline-step span {
    margin-top: 8px;
    font-size: 12px;
    color: #555;
}

.order-details {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    padding: 15px 30px;
    text-align: left;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

.order-details p {
    margin: 5px 0;
    font-size: 16px;
    color: #3b435f;
    /* position: relative; */
}

.order-details p span {
    font-weight: bold;
    color: #2c3146;
}

.order-details p:nth-child(4):after {
    content: '';
    display: block;
    height: 1px;
    background-color: #ddd;
    width: 100%;
    position: absolute;
    bottom: -10px;
    top: 20px;
    left: 0;
}

.line:after {
    content: '';
    display: block;
    height: 1px;
    background-color: #ddd;
    width: 100%;
    /* position: absolute; */
    margin-top: 20px;
    margin-bottom: 20px;
    left: 0;
}

/* .timeline:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #ddd;
    transform: translateY(-50%);
    z-index: 1;
} */